
.menu{
    
    text-align: center;
    border-bottom: 2px solid cyan;
    padding: 10px;
}
.menu-item{
    font-weight: bold;
    font-weight: bold;
    margin: 0 10px;
    text-transform: capitalize;
    cursor: pointer;
}
.menu-item-active{
    color: cyan;

}
